<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_923356_j5z2xq5b0ep.css">
    <link rel="stylesheet" href="/public/css/admin.css">
</head>
<body>
<script>
    window._DEV = 'http://localhost:8888/api';
    //        window._DEV = 'http://yaming.tech:8082/api';
</script>
<div id="root"></div>
<script src="/public/js/jquery.js"></script>
<script src="/public/libs/plupload.full.min.js"></script>
<script src="/public/dist/bundle_admin.js"></script>
</body>
</html>