<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_923356_gicz0vz62b.css">
    <link rel="stylesheet" href="./../public/css/antd.css">
    <link rel="stylesheet" href="./../public/css/style.css">
</head>
<body>
    <script>
        window._DEV = 'http://localhost:8888/api';
//        window._DEV = 'http://yaming.tech:8082/api';
    </script>
    <div id="root"></div>
    <script src="./../public/js/jquery.js"></script>
    <script src="./../public/js/d3.min.js"></script>
    <script src="./../public/dist/bundle_web.js"></script>
</body>
</html>