@charset "utf-8";
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  -webkit-text-size-adjust: none;
  color: #333;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
hr {
  margin: 0;
  padding: 0;
  font: inherit;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}
img {
  border: 0;
  vertical-align: middle;
  max-width: 100%;
}
table {
  border-collapse: collapse;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
audio,
video,
canvas,
progress {
  display: inline-block;
  vertical-align: baseline;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #f0f0f0;
}
::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}
::-webkit-scrollbar-thumb {
  background-color: #aaa;
}
.main-content {
  position: absolute;
  left: 200px;
  top: 60px;
  right: 0;
  bottom: 0;
  padding: 20px;
  overflow: hidden;
}
.main-content .container-box {
  position: relative;
  width: 100%;
  height: 100%;
}
.main-content .container-box .add-edit-option {
  margin: 15px auto;
}
.main-content .container-box.articles-box .list-box {
  top: 47px;
}
.main-content .container-box.articles-box .list-box .list-scroll-box .iconfont-show-more {
  top: -16px;
  right: 22px;
}
.main-content .container-box.drafts-box .list-box {
  top: 0;
}
.main-content .container-box.drafts-box .list-box .list-scroll-box .iconfont-show-more {
  top: -16px;
  right: 22px;
}
.main-content .container-box.media-box .add-edit-option {
  margin: 15px auto 35px;
}
.main-content .container-box.media-box .list-box {
  top: 67px;
}
.main-content .container-box.media-box .list-box .list-scroll-box {
  top: 0;
}
.main-content .container-box.media-box .media-list .media-item {
  float: left;
  width: 19%;
  height: 100px;
  margin: 0 1% 10px 0;
  background: #efefef;
}
.main-content .container-box.category-box .list-box {
  top: 47px;
}
.main-content .container-box.category-box .list-box .list-head .col-a {
  width: 22%;
}
.main-content .container-box.category-box .list-box .list-head .col-b {
  width: 40%;
}
.main-content .container-box.category-box .list-box .list-head .col-c {
  width: 22%;
}
.main-content .container-box.category-box .list-box .list-head .col-d {
  width: 10%;
}
.main-content .container-box.category-box .list-box .list-head .col-e {
  width: 6%;
}
.main-content .container-box.category-box .list-box .list-scroll-box .list-body .list-item .col-a {
  width: 22%;
}
.main-content .container-box.category-box .list-box .list-scroll-box .list-body .list-item .col-b {
  width: 40%;
  padding-right: 10px;
}
.main-content .container-box.category-box .list-box .list-scroll-box .list-body .list-item .col-c {
  width: 22%;
}
.main-content .container-box.category-box .list-box .list-scroll-box .list-body .list-item .col-d {
  width: 10%;
}
.main-content .container-box.category-box .list-box .list-scroll-box .list-body .list-item .col-e {
  width: 6%;
  position: relative;
}
.main-content .container-box.category-box .list-box .list-scroll-box .list-body .list-item .col-e .iconfont-show-more {
  top: -16px;
  right: -4px;
}
.main-content .container-box.category-box .list-box .list-scroll-box .list-body .list-item:hover {
  background: #F2F2F2;
  cursor: pointer;
}
.main-content .container-box.users-box .add-edit-option {
  margin: 15px auto 35px;
}
.main-content .container-box.users-box .list-box {
  top: 67px;
}
.main-content .container-box.users-box .list-box .list-head .col-a {
  width: 30%;
}
.main-content .container-box.users-box .list-box .list-head .col-b {
  width: 30%;
}
.main-content .container-box.users-box .list-box .list-head .col-c {
  width: 30%;
}
.main-content .container-box.users-box .list-box .list-head .col-d {
  width: 10%;
}
.main-content .container-box.users-box .list-box .list-scroll-box {
  top: 50px;
}
.main-content .container-box.users-box .list-box .list-scroll-box .list-body .list-item .col-a {
  width: 30%;
}
.main-content .container-box.users-box .list-box .list-scroll-box .list-body .list-item .col-b {
  width: 30%;
}
.main-content .container-box.users-box .list-box .list-scroll-box .list-body .list-item .col-c {
  width: 30%;
}
.main-content .container-box.users-box .list-box .list-scroll-box .list-body .list-item .col-d {
  width: 10%;
}
.main-content .container-box.comments-box .list-box .list-head .col-a {
  width: 15%;
}
.main-content .container-box.comments-box .list-box .list-head .col-b {
  width: 48%;
}
.main-content .container-box.comments-box .list-box .list-head .col-c {
  width: 15%;
}
.main-content .container-box.comments-box .list-box .list-head .col-d {
  width: 18%;
}
.main-content .container-box.comments-box .list-box .list-head .col-e {
  width: 4%;
  text-align: center;
}
.main-content .container-box.comments-box .list-box .list-scroll-box {
  top: 50px;
}
.main-content .container-box.comments-box .list-box .list-scroll-box .list-body .list-item .col-a {
  width: 15%;
}
.main-content .container-box.comments-box .list-box .list-scroll-box .list-body .list-item .col-b {
  width: 48%;
  padding-right: 10px;
}
.main-content .container-box.comments-box .list-box .list-scroll-box .list-body .list-item .col-c {
  width: 15%;
}
.main-content .container-box.comments-box .list-box .list-scroll-box .list-body .list-item .col-d {
  width: 18%;
  padding-right: 4px;
}
.main-content .container-box.comments-box .list-box .list-scroll-box .list-body .list-item .col-e {
  width: 4%;
  text-align: center;
}
.main-content .container-box .input-field {
  display: flex;
  align-items: center;
  margin: 15px 0;
}
.main-content .container-box .input-field > label {
  display: inline-block;
  width: 80px;
  margin-right: 20px;
  text-align: right;
}
.main-content .container-box .input-field .input-box {
  display: flex;
  flex-grow: 1;
}
.main-content .container-box .input-field .input-box .custom_input {
  top: 5px;
  width: 85%;
}
.main-content .container-box .input-field .input-box .custom_input input::-webkit-input-placeholder {
  color: #ccc;
  font-size: 12px;
}
.main-content .container-box .input-field .input-box .custom_input input:-moz-placeholder,
.main-content .container-box .input-field .input-box .custom_input input::-moz-placeholder,
.main-content .container-box .input-field .input-box .custom_input input:-ms-input-placeholder {
  color: #ccc;
}
.main-content .container-box .input-field .input-box.input-right-box {
  min-height: 46px;
  align-items: center;
  padding-right: 15%;
}
.main-content .list-box {
  position: absolute;
  overflow: hidden;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 14px;
}
.main-content .list-box .list-head {
  display: flex;
  align-items: center;
  position: relative;
  height: 50px;
  border-bottom: 1px solid #efefef;
  padding: 0 4px;
}
.main-content .list-box .list-head > div {
  position: relative;
}
.main-content .list-box .list-head > div.col-a {
  width: 20%;
}
.main-content .list-box .list-head > div.col-b {
  width: 12%;
}
.main-content .list-box .list-head > div.col-c {
  width: 12%;
}
.main-content .list-box .list-head > div.col-d {
  width: 26%;
}
.main-content .list-box .list-head > div.col-e {
  width: 20%;
}
.main-content .list-box .list-head > div.col-f {
  width: 10%;
  text-align: center;
  padding-right: 4px;
}
.main-content .list-box .list-scroll-box {
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  bottom: 0;
  margin: auto;
  overflow: auto;
}
.main-content .list-box .list-scroll-box .list-body {
  position: relative;
  font-size: 12px;
  color: #666;
}
.main-content .list-box .list-scroll-box .list-body .list-item {
  position: relative;
  display: flex;
  border-top: 1px solid #efefef;
  min-height: 48px;
  padding: 18px 4px;
}
.main-content .list-box .list-scroll-box .list-body .list-item > div {
  position: relative;
}
.main-content .list-box .list-scroll-box .list-body .list-item > div.col-a {
  width: 20%;
}
.main-content .list-box .list-scroll-box .list-body .list-item > div.col-b {
  width: 12%;
}
.main-content .list-box .list-scroll-box .list-body .list-item > div.col-c {
  width: 12%;
}
.main-content .list-box .list-scroll-box .list-body .list-item > div.col-d {
  width: 26%;
}
.main-content .list-box .list-scroll-box .list-body .list-item > div.col-e {
  width: 20%;
}
.main-content .list-box .list-scroll-box .list-body .list-item > div.col-f {
  width: 10%;
  text-align: center;
}
.main-content .list-box .list-scroll-box .list-body .list-item:first-child {
  border: none;
}
.main-content .list-box .list-scroll-box .list-body .list-item .iconfont-show-more {
  position: absolute !important;
}
.main-content .list-box .list-scroll-box .list-body .list-item.tr-bg {
  background: #f2f2f2;
}
.main-content .nodata {
  font-size: 12px;
  color: #ccc;
  text-align: center;
  margin: 20px 0;
}
.options-menu {
  padding: 10px 0;
}
.options-menu .menu-item {
  min-width: 120px;
  position: relative;
  padding: 0px 16px;
  display: flex;
  align-items: center;
  height: 36px;
  font-size: 14px;
}
.options-menu .menu-item i {
  font-size: 14px;
}
.options-menu .menu-item span {
  padding-left: 10px;
}
.options-menu .menu-item:hover {
  cursor: pointer;
  background: #F2F2F2;
}
.topbar-box {
  width: 100%;
  height: 60px;
  min-width: 800px;
  background: #414141;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.topbar-box .logo-box {
  width: 200px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  color: #fff;
  font-size: 20px;
}
.topbar-box .option-box {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  padding-right: 50px;
  position: relative;
}
.topbar-box .option-box .menu-detail {
  position: absolute;
  top: 40px;
  right: 20px;
  width: 120px;
  color: #333;
  font-size: 12px;
  text-align: left;
  background: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  z-index: 99;
  border-radius: 4px;
}
.topbar-box .option-box .menu-detail .tips-box {
  padding: 5px 0;
}
.topbar-box .option-box .menu-detail .tips-box .tips-item {
  height: 38px;
  line-height: 38px;
  width: 100%;
  padding: 0 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}
.topbar-box .option-box .menu-detail .tips-box .tips-item:hover {
  background: #f5f5f5;
}
.topbar-box .option-box .menu-detail .tips-box .tips-item:first-child {
  cursor: default;
}
.topbar-box .option-box .menu-detail .tips-box .tips-item:first-child:hover {
  background: none;
}
.topbar-box .option-box .menu-detail .tips-box .tips-item:last-child {
  border-bottom: none;
}
.navbar-box {
  position: absolute;
  left: 0;
  top: 60px;
  bottom: 0;
  width: 200px;
  overflow-y: auto;
  background: #F5F5F5;
  color: #ddd;
  padding: 13px 0 21px;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #efefef;
}
.ant-drawer-body {
  padding: 0 !important;
  height: 100% !important;
}
.ant-menu-sub.ant-menu-inline {
  background: #F5F5F5;
}
.ant-menu-inline .ant-menu-item,
.ant-menu-inline .ant-menu-submenu-title {
  width: 100%;
}
.article-edit-box {
  width: 100%;
  height: 100%;
  position: relative;
}
.article-edit-box .editor-topbar {
  height: 60px;
  display: flex;
  align-items: center;
  padding: 4px 20px;
  background: #f9f9f9;
}
.article-edit-box .editor-topbar .logo {
  width: 200px;
  font-size: 20px;
}
.article-edit-box .editor-topbar .options {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}
.article-edit-box .editor-topbar .options > div {
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 4px;
  margin: 0 5px;
  font-size: 14px;
}
.article-edit-box .editor-topbar .options > div.draft:hover {
  background: #eee;
}
.article-edit-box .editor-topbar .options > div.publish:hover {
  background: #448AFF;
  color: #fff;
}
.article-edit-box .editor-article-body {
  position: absolute;
  top: 60px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}
.article-edit-box .editor-article-body .editor-toolbar {
  border-bottom: 1px solid #f9f9f9;
}
.article-edit-box .editor-article-body .article-editor {
  position: absolute;
  top: 32px;
  bottom: 0;
  left: 0;
  right: 480px;
  margin: auto;
}
.article-edit-box .editor-article-body .article-editor .placehold {
  position: absolute;
  top: 10px;
  left: 15px;
  color: #d4d1d1;
}
.article-edit-box .editor-article-body .article-editor #editor {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  border-right: 1px solid #f9f9f9;
}
.article-edit-box .editor-article-body .editor-article-info {
  width: 480px;
  position: absolute;
  top: 32px;
  right: 0;
  bottom: 0;
  padding: 10px 20px;
  overflow-y: auto;
}
.article-edit-box .editor-article-body .editor-article-info .input-field {
  display: flex;
  align-items: center;
  margin: 15px 0;
  font-size: 14px;
}
.article-edit-box .editor-article-body .editor-article-info .input-field > label {
  display: inline-block;
  width: 80px;
  margin-right: 20px;
  text-align: right;
}
.article-edit-box .editor-article-body .editor-article-info .input-field .input-box {
  display: flex;
  flex-grow: 1;
}
.article-edit-box .editor-article-body .editor-article-info .input-field .input-box .custom_input {
  top: 5px;
  width: 85%;
}
.article-edit-box .editor-article-body .editor-article-info .input-field .input-box .custom_input input::-webkit-input-placeholder {
  color: #ccc;
  font-size: 12px;
}
.article-edit-box .editor-article-body .editor-article-info .input-field .input-box .custom_input input:-moz-placeholder,
.article-edit-box .editor-article-body .editor-article-info .input-field .input-box .custom_input input::-moz-placeholder,
.article-edit-box .editor-article-body .editor-article-info .input-field .input-box .custom_input input:-ms-input-placeholder {
  color: #ccc;
}
.article-edit-box .editor-article-body .editor-article-info .input-field .input-box .radioButton > div > div {
  top: 4px;
  left: 4px;
}
.article-edit-box .editor-article-body .editor-article-info .input-field .input-box .radioButton > div > div span {
  top: -8px !important;
  left: -8px !important;
}
.article-edit-box .editor-article-body .editor-article-info .input-field .input-box.input-right-box {
  min-height: 46px;
  align-items: center;
  padding-right: 15%;
}
.article-edit-box .editor-article-body .editor-article-info .input-field .input-box .tag-label {
  background: #E6E5E5;
  padding: 4px 6px;
  border-radius: 8px;
  margin-right: 6px;
  display: flex;
  align-items: center;
}
.article-edit-box .editor-article-body .editor-article-info .input-field .input-box .tag-label i.iconfont {
  display: inline-block;
  margin-left: 4px;
  width: 0px;
  height: 0px;
  transform: scale(0);
  -webkit-transition: all 0.15s;
  -moz-transition: all 0.15s;
  -ms-transition: all 0.15s;
  -o-transition: all 0.15s;
  transition: all 0.15s;
  font-size: 14px;
  cursor: pointer;
}
.article-edit-box .editor-article-body .editor-article-info .input-field .input-box .tag-label:hover i.iconfont {
  width: 14px;
  height: 14px;
  transform: scale(1);
}
.article-edit-box .editor-article-body .editor-article-info .upload-thumb-box .input-field {
  align-items: flex-start;
}
.article-edit-box .editor-article-body .editor-article-info .upload-thumb-box .input-field .input-box.input-right-box {
  padding-right: 0;
}
.article-edit-box .editor-article-body .editor-article-info .upload-thumb-box .input-field .input-box .file-upload-component .upload-preview {
  position: relative;
}
.article-edit-box .editor-article-body .editor-article-info .upload-thumb-box .input-field .input-box .file-upload-component .upload-preview .preview-item {
  width: 270px;
  height: 167px;
}
.article-edit-box .editor-article-body .editor-article-info .upload-thumb-box .input-field .input-box .file-upload-component .upload-button-box {
  width: 270px;
  height: 167px;
}
.article-edit-box .editor-article-body .editor-article-info .upload-thumb-box .input-field .input-box .file-upload-component .upload-button-box .upload-progress {
  width: 100%;
  position: absolute;
  height: 100%;
  z-index: 2;
  display: flex;
  padding: 0 10%;
  background: rgba(0, 0, 0, 0.7);
  flex-direction: column;
  justify-content: center;
}
.article-edit-box .editor-article-body .editor-article-info .upload-thumb-box .input-field .input-box .file-upload-component .upload-button-box .upload-progress span {
  height: 12px;
  display: block;
}
.article-edit-box .editor-article-body .editor-article-info .upload-thumb-box .input-field .input-box .file-upload-component .upload-button-box .upload-progress span:first-child {
  width: 100%;
  text-align: center;
  height: 24px;
  color: #fff;
  font-size: 14px;
}
.article-edit-box .editor-article-body .editor-article-info .upload-thumb-box .input-field .input-box .file-upload-component .upload-button-box .upload-progress span:last-child {
  background: #85d062;
  width: 0px;
  border-radius: 6px;
}
.w-e-text {
  min-height: 100% !important;
  height: auto !important;
  overflow: hidden !important;
}
.file-upload-component {
  position: relative;
}
.file-upload-component .upload-preview {
  float: left;
  position: relative;
  z-index: 99;
}
.file-upload-component .upload-preview .preview-item {
  float: left;
  width: 98px;
  height: 62px;
  position: relative;
  overflow: hidden;
  border: 1px solid #e0e0e0;
  margin: 0 10px 10px 0;
  z-index: 1000;
}
.file-upload-component .upload-preview .preview-item img {
  width: 100%;
  height: 100%;
}
.file-upload-component .upload-preview .preview-item div.del-mask {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0px;
  top: 0px;
  cursor: pointer;
  color: #000;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transform: scale(0);
  transition: all 0.15s;
  text-align: center;
  width: 100%;
  height: 100%;
  z-index: 3000;
}
.file-upload-component .upload-preview .preview-item div.del-mask span.iconfont {
  font-size: 20px;
  color: #ababab;
  padding: 10px;
}
.file-upload-component .upload-preview .preview-item div.del-mask span.iconfont:hover {
  color: #fff;
}
.file-upload-component .upload-preview .preview-item:hover div.del-mask {
  opacity: 1;
  transform: scale(1);
}
.file-upload-component .upload-button-box {
  float: left;
  cursor: pointer;
  width: 98px;
  height: 62px;
  border-radius: 2px;
  border: 1px solid #fefefe;
  display: flex;
  align-items: center;
  justify-content: center;
}
.file-upload-component .upload-button-box .upload-button {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.file-upload-component .upload-button-box .upload-button span.iconfont {
  color: #757575;
  font-size: 28px;
}
.customDialog .customDialog-contentClassName > div {
  height: 100%;
}
.customDialog .customDialog-bodyClassName {
  height: 100%;
}
.customDialog .custom-dialog-container {
  position: relative;
  height: 100%;
}
.customDialog .custom-dialog-container .custom-dialog-option {
  position: absolute;
  right: 0px;
  top: 0px;
}
.customDialog .custom-dialog-container .custom-dialog-header {
  height: 0px;
  padding-left: 24px;
  padding-right: 24px;
}
.customDialog .custom-dialog-container .custom-dialog-header > div {
  display: flex;
  align-items: center;
}
.customDialog .custom-dialog-container .custom-dialog-header > div i {
  padding-right: 16px;
  font-size: 22px;
  color: #3986FF;
}
.customDialog .custom-dialog-container .custom-dialog-header > div span {
  color: #000;
  font-size: 18px;
}
.customDialog .custom-dialog-container .custom-dialog-body {
  height: 600px;
  padding-left: 24px;
  padding-right: 24px;
}
.customDialog .custom-dialog-container .custom-dialog-body .custom-dialog-body-scroll {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  overflow-y: auto;
}
.customDialog .custom-dialog-container .custom-dialog-body .custom-dialog-body-scroll .add-member-option {
  height: 30px;
  margin: 20px 0;
  display: flex;
  align-items: center;
}
.customDialog .custom-dialog-container .custom-dialog-body .custom-dialog-body-scroll .add-member-option span.menuicon {
  font-size: 24px;
}
.customDialog .custom-dialog-container .custom-dialog-footer {
  height: 0px;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-shadow: 20px 20px 30px 8px rgba(0, 0, 0, 0.17);
  border-radius: 0px 0px 4px 4px;
  border-top: 1px solid #e6e5e5;
}
.customDialog .custom-dialog-container.has-header .custom-dialog-header {
  height: 82px;
  padding: 32px 24px 26px 24px;
}
.customDialog .custom-dialog-container.has-header .custom-dialog-body {
  height: 528px;
}
.customDialog .custom-dialog-container.has-footer .custom-dialog-body {
  height: 540px;
}
.customDialog .custom-dialog-container.has-footer .custom-dialog-footer {
  height: 60px;
}
.customDialog .custom-dialog-container.has-header.has-footer .custom-dialog-header {
  height: 82px;
  padding: 32px 24px 26px 24px;
}
.customDialog .custom-dialog-container.has-header.has-footer .custom-dialog-body {
  height: 458px;
}
.customDialog .custom-dialog-container.has-header.has-footer .custom-dialog-footer {
  height: 60px;
}
.customDialog .input-field {
  position: relative;
  font-size: 14px;
  margin: 20px 0;
}
.customDialog .input-field .input-label {
  display: inline-block;
  width: 90px;
  margin-right: 15px;
  vertical-align: top;
  padding-top: 13px;
  text-align: right;
}
.customDialog .input-field .input-box {
  display: inline-block;
  width: 320px;
}
.customDialog table td,
.customDialog table th {
  padding: 15px 7px;
  border-bottom: 1px solid #eee;
}
.customDialog table td .btn-remove,
.customDialog table th .btn-remove {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  border-radius: 100%;
  background: #f00;
  color: #fff;
  cursor: pointer;
}
