* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  -webkit-text-size-adjust: none;
  background: #f9f9f9;
  color: #333; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  font: inherit; }

article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block; }

img {
  border: 0;
  vertical-align: middle;
  max-width: 100%; }

table {
  border-collapse: collapse; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

audio, video, canvas, progress {
  display: inline-block;
  vertical-align: baseline; }

sub, sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #f0f0f0; }

::-webkit-scrollbar-track {
  background-color: #f0f0f0; }

::-webkit-scrollbar-thumb {
  background-color: #aaa; }

.web-container {
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto; }
  .web-container .web-header {
    position: relative;
    display: flex;
    height: 60px;
    padding: 0 20px; }
    .web-container .web-header .logo {
      width: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      font-weight: bold; }
    .web-container .web-header .web-menu {
      flex-grow: 1; }
      .web-container .web-header .web-menu .menu-list {
        display: flex;
        align-items: center;
        position: relative;
        height: 100%;
        align-items: center; }
        .web-container .web-header .web-menu .menu-list .menu-item {
          position: relative;
          width: 100px;
          text-align: center;
          z-index: 2; }
          .web-container .web-header .web-menu .menu-list .menu-item h2 {
            position: relative;
            z-index: 3;
            cursor: pointer; }
          .web-container .web-header .web-menu .menu-list .menu-item > span {
            position: absolute;
            display: block;
            width: 100%;
            text-align: center;
            top: 0;
            opacity: 0;
            color: #999;
            font-size: 12px;
            -webkit-transition: all .35s;
            -moz-transition: all .35s;
            -ms-transition: all .35s;
            -o-transition: all .35s;
            transition: all .35s;
            z-index: 0; }
          .web-container .web-header .web-menu .menu-list .menu-item:hover > span {
            opacity: 1;
            top: 100%; }
  .web-container .web-home .web-banner {
    height: 200px;
    background: url("http://demo.cssmoban.com/cssthemes5/ccps_21_bpr/images/banner_top.jpg") no-repeat center;
    background-size: 100% 100%; }
  .web-container .web-home .web-container-box {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    background: url("http://demo.cssmoban.com/cssthemes5/ccps_21_bpr/images/r_line.jpg") repeat-x top;
    background-size: 15px;
    padding-top: 25px; }
    .web-container .web-home .web-container-box .web-home-body {
      width: 801px;
      margin-right: 39px;
      padding-right: 40px;
      border-right: 1px solid #eee; }
      .web-container .web-home .web-container-box .web-home-body .web-block-box {
        background: #fff;
        margin: 0 0 50px; }
        .web-container .web-home .web-container-box .web-home-body .web-block-box .blog-list {
          position: relative; }
          .web-container .web-home .web-container-box .web-home-body .web-block-box .blog-list .blog-item {
            position: relative;
            box-shadow: #848484 0px 1px 3px -2px; }
            .web-container .web-home .web-container-box .web-home-body .web-block-box .blog-list .blog-item .blog-item-title {
              margin: 20px 0 10px 0;
              font-weight: 500;
              padding: 0 10px;
              font-size: 14px; }
            .web-container .web-home .web-container-box .web-home-body .web-block-box .blog-list .blog-item .blog-item-body {
              color: #756F71;
              overflow: hidden;
              padding-left: 10px; }
              .web-container .web-home .web-container-box .web-home-body .web-block-box .blog-list .blog-item .blog-item-body .blog-img {
                width: 200px;
                height: 133px;
                float: left;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid #efefef; }
                .web-container .web-home .web-container-box .web-home-body .web-block-box .blog-list .blog-item .blog-item-body .blog-img img {
                  max-width: 100%;
                  max-height: 100%; }
              .web-container .web-home .web-container-box .web-home-body .web-block-box .blog-list .blog-item .blog-item-body .blog-article {
                overflow: hidden;
                font-size: 13px;
                padding: 0 10px;
                max-height: 110px;
                text-indent: 2em;
                overflow: hidden; }
            .web-container .web-home .web-container-box .web-home-body .web-block-box .blog-list .blog-item .blog-item-footer {
              display: flex;
              color: #838383;
              font-size: 12px;
              margin: 10px 0 0;
              padding: 6px 20px;
              justify-content: flex-end;
              background: #fbfbfb; }
              .web-container .web-home .web-container-box .web-home-body .web-block-box .blog-list .blog-item .blog-item-footer > div {
                margin: 0 10px; }
        .web-container .web-home .web-container-box .web-home-body .web-block-box .web-code-list {
          padding: 20px 10px;
          position: relative;
          display: flex; }
          .web-container .web-home .web-container-box .web-home-body .web-block-box .web-code-list .web-code-item {
            width: 240px;
            border: 1px solid #eee; }
            .web-container .web-home .web-container-box .web-home-body .web-block-box .web-code-list .web-code-item .web-code-img {
              width: 100%;
              height: 160px; }
              .web-container .web-home .web-container-box .web-home-body .web-block-box .web-code-list .web-code-item .web-code-img img {
                width: 100%;
                height: 100%; }
            .web-container .web-home .web-container-box .web-home-body .web-block-box .web-code-list .web-code-item:nth-of-type(2) {
              margin: 0 10px; }
            .web-container .web-home .web-container-box .web-home-body .web-block-box .web-code-list .web-code-item .web-code-info {
              padding: 5px 10px 10px; }
              .web-container .web-home .web-container-box .web-home-body .web-block-box .web-code-list .web-code-item .web-code-info .info-title {
                font-size: 14px; }
              .web-container .web-home .web-container-box .web-home-body .web-block-box .web-code-list .web-code-item .web-code-info .info-desc {
                font-size: 12px;
                color: #756F71; }
        .web-container .web-home .web-container-box .web-home-body .web-block-box .notes-list {
          padding: 20px 10px;
          position: relative; }
          .web-container .web-home .web-container-box .web-home-body .web-block-box .notes-list .notes-item {
            border-bottom: 1px solid #f9f9f9;
            padding: 10px; }
            .web-container .web-home .web-container-box .web-home-body .web-block-box .notes-list .notes-item .notes-item-desc {
              color: #756F71;
              font-size: 13px; }
            .web-container .web-home .web-container-box .web-home-body .web-block-box .notes-list .notes-item .notes-tags {
              display: flex;
              color: #838383;
              font-size: 12px;
              align-items: center;
              padding-top: 10px; }
              .web-container .web-home .web-container-box .web-home-body .web-block-box .notes-list .notes-item .notes-tags label {
                margin-right: 10px;
                display: flex;
                align-items: center; }
                .web-container .web-home .web-container-box .web-home-body .web-block-box .notes-list .notes-item .notes-tags label i {
                  padding-right: 4px;
                  font-size: 12px; }
    .web-container .web-home .web-container-box .web-home-sidebar {
      width: 360px; }
      .web-container .web-home .web-container-box .web-home-sidebar .web-sidebar-box {
        background: #fff;
        margin: 0 0 50px; }
        .web-container .web-home .web-container-box .web-home-sidebar .web-sidebar-box .sidebar-clock {
          text-align: center;
          background: #f9f9f9; }
        .web-container .web-home .web-container-box .web-home-sidebar .web-sidebar-box .sidebar-calendar {
          background: #f9f9f9; }
          .web-container .web-home .web-container-box .web-home-sidebar .web-sidebar-box .sidebar-calendar .calendar {
            padding: 0 10px 10px; }
          .web-container .web-home .web-container-box .web-home-sidebar .web-sidebar-box .sidebar-calendar #calendar {
            width: 100%;
            margin: 0 auto;
            padding: 0 15px 0px; }
          .web-container .web-home .web-container-box .web-home-sidebar .web-sidebar-box .sidebar-calendar #calendar tr th {
            width: 60px;
            height: 40px;
            vertical-align: middle; }
          .web-container .web-home .web-container-box .web-home-sidebar .web-sidebar-box .sidebar-calendar #calendar tr td {
            padding: 10px;
            text-align: center;
            border: 1px solid #eaeaec; }
          .web-container .web-home .web-container-box .web-home-sidebar .web-sidebar-box .sidebar-calendar .today {
            background-color: #5fafff;
            color: #fff; }
          .web-container .web-home .web-container-box .web-home-sidebar .web-sidebar-box .sidebar-calendar .noday {
            background-color: #eaeaec;
            color: #ccc; }
      .web-container .web-home .web-container-box .web-home-sidebar .web-sidebar-box.box-item {
        box-shadow: #848484 0px 1px 3px -2px; }
        .web-container .web-home .web-container-box .web-home-sidebar .web-sidebar-box.box-item .tag-list {
          padding: 10px;
          overflow: hidden;
          font-size: 14px; }
          .web-container .web-home .web-container-box .web-home-sidebar .web-sidebar-box.box-item .tag-list label {
            padding: 4px 6px;
            border-radius: 2px;
            cursor: pointer;
            float: left;
            transition: all 0.25s;
            background: #f3f6f3;
            margin: 0 5px 5px 0; }
            .web-container .web-home .web-container-box .web-home-sidebar .web-sidebar-box.box-item .tag-list label i {
              font-size: 14px;
              padding-right: 4px;
              color: #838383; }
            .web-container .web-home .web-container-box .web-home-sidebar .web-sidebar-box.box-item .tag-list label:hover {
              background: #efefef; }
        .web-container .web-home .web-container-box .web-home-sidebar .web-sidebar-box.box-item .net-list {
          padding: 10px;
          font-size: 14px; }
          .web-container .web-home .web-container-box .web-home-sidebar .web-sidebar-box.box-item .net-list .net-item {
            overflow: hidden;
            margin-bottom: 10px;
            border-bottom: 1px solid #efefef;
            padding-bottom: 10px;
            height: 77px; }
            .web-container .web-home .web-container-box .web-home-sidebar .web-sidebar-box.box-item .net-list .net-item .net-img {
              float: left;
              width: 100px;
              height: 100%; }
              .web-container .web-home .web-container-box .web-home-sidebar .web-sidebar-box.box-item .net-list .net-item .net-img img {
                width: 100%;
                height: 100%; }
            .web-container .web-home .web-container-box .web-home-sidebar .web-sidebar-box.box-item .net-list .net-item .net-details {
              overflow: hidden;
              padding: 10px 10px 0;
              font-size: 12px;
              max-height: 60px;
              overflow: hidden; }
        .web-container .web-home .web-container-box .web-home-sidebar .web-sidebar-box.box-item .visitor-count {
          height: 300px;
          width: 100%;
          padding: 10px; }
          .web-container .web-home .web-container-box .web-home-sidebar .web-sidebar-box.box-item .visitor-count #visitor_svg {
            width: 100%;
            height: 100%; }
            .web-container .web-home .web-container-box .web-home-sidebar .web-sidebar-box.box-item .visitor-count #visitor_svg .axis line, .web-container .web-home .web-container-box .web-home-sidebar .web-sidebar-box.box-item .visitor-count #visitor_svg .axis path {
              fill: none;
              stroke: #000;
              shape-rendering: crispEdges; }
            .web-container .web-home .web-container-box .web-home-sidebar .web-sidebar-box.box-item .visitor-count #visitor_svg .axis text {
              font-size: 11px;
              fill: none; }
            .web-container .web-home .web-container-box .web-home-sidebar .web-sidebar-box.box-item .visitor-count #visitor_svg .inner_line {
              stroke: #dedede;
              stroke-width: 1px;
              fill: none; }
            .web-container .web-home .web-container-box .web-home-sidebar .web-sidebar-box.box-item .visitor-count #visitor_svg .visitortitle {
              stroke: #000;
              stroke-width: 1px;
              fill: none;
              font-size: 12px; }
            .web-container .web-home .web-container-box .web-home-sidebar .web-sidebar-box.box-item .visitor-count #visitor_svg .focusLine {
              fill: none;
              stroke: green;
              stroke-width: 0.5px; }
            .web-container .web-home .web-container-box .web-home-sidebar .web-sidebar-box.box-item .visitor-count #visitor_svg .overrect {
              fill: none;
              stroke: none;
              pointer-events: all; }
            .web-container .web-home .web-container-box .web-home-sidebar .web-sidebar-box.box-item .visitor-count #visitor_svg .focusTxt {
              font-size: 12px;
              font-style: italic;
              stroke: green; }
        .web-container .web-home .web-container-box .web-home-sidebar .web-sidebar-box.box-item .contact-us {
          padding: 10px;
          font-size: 14px; }
          .web-container .web-home .web-container-box .web-home-sidebar .web-sidebar-box.box-item .contact-us .qrcode {
            display: flex;
            margin-bottom: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid #efefef; }
            .web-container .web-home .web-container-box .web-home-sidebar .web-sidebar-box.box-item .contact-us .qrcode .qrcode-img {
              width: 48%; }
              .web-container .web-home .web-container-box .web-home-sidebar .web-sidebar-box.box-item .contact-us .qrcode .qrcode-img img {
                width: 100%;
                max-width: 100%; }
              .web-container .web-home .web-container-box .web-home-sidebar .web-sidebar-box.box-item .contact-us .qrcode .qrcode-img:first-child {
                margin-right: 2%; }
              .web-container .web-home .web-container-box .web-home-sidebar .web-sidebar-box.box-item .contact-us .qrcode .qrcode-img:last-child {
                margin-left: 2%; }
          .web-container .web-home .web-container-box .web-home-sidebar .web-sidebar-box.box-item .contact-us .contact-way {
            overflow: hidden; }
            .web-container .web-home .web-container-box .web-home-sidebar .web-sidebar-box.box-item .contact-us .contact-way > p {
              float: left;
              width: 48%;
              margin: 5px 1%; }
              .web-container .web-home .web-container-box .web-home-sidebar .web-sidebar-box.box-item .contact-us .contact-way > p i {
                font-size: 14px;
                padding-right: 5px; }
  .web-container .web-footer {
    text-align: center;
    color: #838383;
    margin: 25px auto 0;
    padding: 25px 0;
    border-top: 1px solid #efefef;
    background: #f1f1f1; }
    .web-container .web-footer .friend-state {
      font-size: 12px;
      margin-bottom: 15px; }
    .web-container .web-footer .cooperation {
      font-size: 12px; }
      .web-container .web-footer .cooperation a {
        color: #838383; }

.clearfix:after {
  content: '';
  display: block;
  visibility: hidden;
  height: 0;
  clear: both; }

.block-title {
  padding: 10px;
  font-weight: bold;
  box-shadow: #4a4a4a 0px 1px 3px -2px;
  position: relative; }
  .block-title > span {
    position: absolute;
    right: 10px;
    font-size: 12px;
    display: inline-block;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    top: 50%;
    margin-top: -16px;
    cursor: pointer;
    color: #666; }

.sidebar-title {
  background: #eee;
  height: 36px;
  display: flex;
  align-items: center;
  padding: 0 10px; }

.web-articles {
  position: relative; }
  .web-articles .articles-page-banner {
    position: relative; }
  .web-articles .articles-content {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    padding-top: 25px; }
    .web-articles .articles-content .articles-body {
      width: 801px;
      margin-right: 39px;
      padding-right: 40px;
      border-right: 1px solid #eee; }
      .web-articles .articles-content .articles-body .articles-list {
        position: relative; }
        .web-articles .articles-content .articles-body .articles-list .articles-item {
          margin-bottom: 40px; }
          .web-articles .articles-content .articles-body .articles-list .articles-item .title {
            margin-bottom: 8px;
            font-size: 18px;
            line-height: 24px;
            color: #3d3d3d;
            font-weight: bold; }
          .web-articles .articles-content .articles-body .articles-list .articles-item .content {
            font-size: 14px;
            line-height: 22px;
            white-space: normal;
            color: #999;
            text-indent: 2em; }
          .web-articles .articles-content .articles-body .articles-list .articles-item .articles-info {
            padding-top: 8px;
            font-size: 14px;
            color: #6b6b6b; }
            .web-articles .articles-content .articles-body .articles-list .articles-item .articles-info > span {
              margin: 0 15px 0 0; }
    .web-articles .articles-content .articles-sidebar {
      width: 360px; }

.articles-options {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee; }
  .articles-options .articles-navgation {
    width: 300px; }
    .articles-options .articles-navgation i.iconfont {
      margin: 0 10px;
      font-size: 14px; }
  .articles-options .articles-action {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end; }
    .articles-options .articles-action > div {
      margin: 0 10px; }

.resume {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 20px auto 40px; }
  .resume > h2 {
    position: relative;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    height: 60px;
    line-height: 60px;
    margin-bottom: 20px; }
    .resume > h2 span {
      display: inline-block;
      width: 200px;
      background: #f9f9f9;
      position: relative;
      z-index: 2; }
    .resume > h2:after {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 2px;
      background: #ececec;
      left: 0;
      top: 50%;
      margin-top: -1px; }
  .resume .resume-list {
    display: flex;
    width: 800px;
    margin: 0 auto; }
    .resume .resume-list .resume-list-item {
      width: 240px;
      margin: 0 20px;
      text-align: center;
      position: relative;
      cursor: pointer;
      font-size: 14px; }
      .resume .resume-list .resume-list-item .resume-img {
        overflow: hidden;
        width: 100%;
        height: 160px; }
        .resume .resume-list .resume-list-item .resume-img img {
          width: 100%;
          height: 100%;
          transition: all .35s;
          opacity: 0.8; }
      .resume .resume-list .resume-list-item:nth-of-type(2) {
        margin: 0; }
      .resume .resume-list .resume-list-item:hover .resume-img img {
        opacity: 1; }
      .resume .resume-list .resume-list-item .resume-icon {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        display: inline-block;
        width: 0;
        border-width: 32px;
        border-style: solid;
        border-color: rgba(57, 195, 103, 0.8) transparent transparent rgba(57, 195, 103, 0.8); }
        .resume .resume-list .resume-list-item .resume-icon i.iconfont {
          position: absolute;
          top: -20px;
          left: -20px;
          color: yellow; }

.pagination-component {
  position: relative;
  width: 100%;
  height: 32px;
  display: flex;
  align-items: center; }
  .pagination-component > div {
    background: #f1f1f1; }
  .pagination-component .total-page {
    background: none;
    margin-left: 10px;
    font-size: 12px; }
  .pagination-component .first-page, .pagination-component .prev-page, .pagination-component .next-page, .pagination-component .last-page {
    height: 100%;
    padding: 6px 10px;
    font-size: 14px;
    cursor: pointer;
    transition: all .25s; }
    .pagination-component .first-page:hover, .pagination-component .prev-page:hover, .pagination-component .next-page:hover, .pagination-component .last-page:hover {
      box-shadow: #4a4a4a 0px 1px 3px -2px; }
  .pagination-component .first-page, .pagination-component .prev-page {
    border-right: 1px solid #e2e2e2; }
  .pagination-component .next-page, .pagination-component .last-page {
    border-left: 1px solid #e2e2e2; }
  .pagination-component .pagination-page {
    position: relative;
    display: flex;
    align-items: center; }
    .pagination-component .pagination-page > span {
      cursor: pointer;
      display: inline-block;
      width: 32px;
      height: 100%;
      line-height: 32px;
      text-align: center;
      border-right: 1px solid #e2e2e2;
      transition: all .25s; }
      .pagination-component .pagination-page > span.ellipsis {
        background: none; }
      .pagination-component .pagination-page > span:last-child {
        border: none; }
      .pagination-component .pagination-page > span:hover {
        box-shadow: #4a4a4a 0px 1px 3px -2px;
        background: rgba(220, 220, 220, 0.6); }
      .pagination-component .pagination-page > span.ellipsis:hover {
        box-shadow: none;
        background: none;
        cursor: default; }
      .pagination-component .pagination-page > span.active-page {
        box-shadow: #2962f6 0px 1px 3px -2px;
        background: #f3c54e;
        color: #fff; }
  .pagination-component .radiusLeft {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px; }
  .pagination-component .radiusRight {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px; }

/*# sourceMappingURL=style.css.map */
